.search-box {
    position: relative;
    height: 34px;
  }
  .search-box input {
    border: 0;
    border-radius: 3px !important;
    padding-right: 28px;
    font-size: 15px;
  }
  
  .search-box .input-group-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
  }
  
  .search-box .input-group-btn button {
    background-color: transparent;
    border: 0;
    padding: 4px 8px;
    color: rgba(0,0,0,.4);
    font-size: 20px;
  }
  
  .search-box .input-group-btn button:hover,
  .search-box .input-group-btn button:active,
  .search-box .input-group-btn button:focus {
    color: rgba(0,0,0,.4);
  }
  .search-box {
    width: 300px !important;
  }